

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }
  
  a {
    display: block;
    width: 120px;
    padding: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
  }

  li a:hover {
    background-color: rgb(66, 30, 126);
  }
  #body{
    border: 1px solid black;
    padding: 25px 50px 75px;
    background-color: lightblue;

  }
  