<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%load static%}
  <link rel="stylesheet" href="{%staticfiles 'userpage.css'%}">
    <title>Library App</title>
  
  </head>
  <body>
    <nav>
        <ul>
          <li id="logo">Borrow_Status</li>
          <li><a href="/icon">Dashboard</a></li>
          <li><a href="#About">About</a></li>
          <li><a href="#Contact_Us">Contact_Us</a></li>


        </ul>
      </nav>
    
    <div class="user-select">
      <p>YOUR BOOK</p>
      <form action = "/addBorrower" method="POST">
        {%csrf_token%}
      <input type="number" placeholder="Enter your ID" name="borrowerid"><br>
      <input type="number" placeholder="Enter book ID" name="bookid"><br>
      <input type="datetime" placeholder="Enter Date-Taken"><br>
      <input type="datetime" placeholder="Enter Return_Date"><br><br>
      <button type="submit">Borrow</button><br><br>
      <button type="submit" ><a href="/icon">Cancel</a></button>
      </form>

    </div><br>
    

    <div class="user-select">
      <p>PENALTIES</p>
      <form action = "" method="get">
        {%csrf_token%}
      <input type="number" placeholder="fine"><br>
      <input type="text" placeholder="Enter selected book "><br>
      <input type="number" placeholder="Enter book ID"><br>
      <input type="pay" placeholder="Payment"> <br>
      <input type="datetime" placeholder="DatePaid"><br>
      <input type="datetime" placeholder="Date_Bookreturned"><br>

      </form>
   
    </div>  
  </body>
