<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%load static%}
  <link rel="stylesheet" href="{%static 'userpage.css'%}">
    <title>Library App</title>
  
  </head>
  <body>
    <nav>
        <ul>
          <li id="logo">Borrow_Status</li>
          <li><a href="/icon">Dashboard</a></li>
          <li><a href="#About">About</a></li>
          <li><a href="#Contact_Us">Contact_Us</a></li>


        </ul>
      </nav>
    
    <div class="user-select">
      <p>BORROW BOOK</p>
      <form method="get" action="">
        <label>StudentId:</label>
        <input type="number" placeholder="Student ID" required min="0"><br><br>
        <label>ReturnDate:</label>
        <input type="datetime-local" placeholder="" required><br><br>
        <a href="{% url 'icon' book.id %}" class="ml-2">Borrow</a>

      </form>
      

      <!-- <button class="student-button"><a href="/login">Student</a></button>
      <button class="librarian-button"><a href="/admin">Librarian</a></button> -->
    </div>  
    
  </body>
