<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style_icon.css">
        <title>dashboard_page(student)</title>
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa fa-bars"></i>
        </label>
        <label class="logo"> LIBRARYAPP_STUDENT</label>
        <ul>
            <li><a class ="active" href="dashboard" class="active">DASHBOARD</a> </li>
            <li><a href="about_us">ABOUT US</a></li>
            <li><a href="contact_us">CONTACT US</a></li>
            <input type="text" placeholder="Search..">
        </ul>
    
    </nav>
    <section>
        
    </section>