<!DOCTYPE html>
<html>
    <head>
        <link  rel="stylesheet" href="style.css">
        <title>
            Library App
        </title>
    </head> 
    <body>
        <div  id="header">
            <nav>
                <ul>
                    <li class="link" id="heading">Library App</li>
                    <li class="link">Home</li>
                    <li class="link">About</li>
                </ul>
            </nav>
        </div>
        <div id="body">
            <p>Login as</p>
            <button type="submit"><a href="/login">Student</a></button>
            <button type="submit"><a href="/login">Librarian</a></button>
        </div>
    </body>
 </html>




