<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="styles.css"><br>
    <title>Login</title>
    
</head>
<body>
    <div id="header">
        <H1>WELCOME TO MY LIBRARY APP &#128218;</H1>
        <!-- THE NAVIGATION BAR WILL GO HERE -->

        <ul>
          <li><a href="home">HOME</a></li>
          <li><a href="about_us">ABOUT US</a></li>
          <li> <a href="contact_us">CONTACT</a></li>
           
        </ul>
    </div>


     <div id="body">
      <H2>STUDENT LOGIN</H2><!--create a css to work on this section
        -should be in a box like structure 
       -centre alligned on page
       -big to see and sensetial
       -->

        <form action="/action_page.php" target="_blank">
            <label for="name">UserName:</label><br>
              <input type="text" id="name" name="name"><br>
                              <label for="pwd">Password:</label><br> <!-- #need to creat a link for forgotten password-->
                                  <input type="password" id="pwd" name="pwd"><br>
                                       <p><input type="button" value="LOGIN"></p>
                                       <input type="button" value="CREAT NEW ACCOUNT"></p>
   <!-- creating an account  yeah thats it-->
      </form>
    </div>
        
</body>
</html>