<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static%}
    <link rel="stylesheet" href="{% static 'login.css' %}"><br>
    <title>Login</title>
    
</head>
<body>
    <div id="header">
        
        <!-- THE NAVIGATION BAR WILL GO HERE -->

        <nav>
            <ul>
              <li id="#logo"><a href="home">Home</a></li><br>
              <li><a href="about_us">About Us</a></li><br>
              <li><a href="contact_us">Contact_Us</a></li>
            </ul>
        </nav><br>

    </div>
      

        <form class="log1">
            <h1>Login</h1>

            <label for="name">UserName:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="pwd">Password:</label><br>
            <!-- #need to creat a link for forgotten password-->
            <input type="password" id="pwd" name="pwd"><br><br>
            <button type="submit" class="Login"><a href= "/icon">Login</a></button><br><br>
            <button type="submit" class="Login1"><a href="/register">Create Account</a></button>                 
            <!-- creating an account  yeah thats it-->
        </form>
    </div>
        
</body>
</html>