<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
</head>
<body>
    <div>
        <h1>Register Here</h1>
        <label for="student">Student</label>
        <input type="radio" id="student" name="account">
        <label for="librarian">Librarian</label>
        <input type="radio" id="librarian" name="account"><br><br>
        <label for="first_name">FirstName:</label>
        <input type="text" id="first_name" name="first_name"><br><br>
        <label for="last_name">LastName:</label>
        <input type="text" id="last_name" name="last_name"><br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="trevorwamy@gmail.com"><br><br>
        <label for="user_name">UserName:</label>
        <input type="text" id="user_name" name="user_name"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" minlength="8" maxlength="12"><br><br>
        <label for="password">Confirm:</label>
        <input type="password" id="password" name="password" minlength="8" maxlength="12"><br><br>
        <label for="agree">Agree</label>
        <input type="checkbox" id="agree" name="agree"><br><br>
        <button type="submit">Register</button>

        
    </div>
    
</body>
</html>