<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="register.css">
    <title>Register Page</title>
</head>
<body>
    <div class="form">
        <h1>Register Here</h1>
        <label for="student">Student</label>
        <input type="radio" id="student" name="account">
        <label for="librarian">Librarian</label>
        <input type="radio" id="librarian" name="account"><br><br>
        <div class="item">
            <label id="label" for="first_name">FirstName</label>
            <input class="input-field" type="text" id="first_name" name="first_name"><br><br>
        </div>
        <div class="item">
            <label id="label" for="last_name">LastName</label>
            <input class="input-field" type="text" id="last_name" name="last_name"><br><br>
        </div>
        <div class="item">
            <label id="label" for="email">Email</label>
            <input class="input-field" type="email" id="email" name="email"><br><br>
        </div>
        <div class="item">
            <label id="label" for="user_name">UserName</label>
            <input class="input-field" type="text" id="user_name" name="user_name"><br><br>
        </div>
        <div class="item">
            <label id="label" for="password">Password</label>
            <input class="input-field" type="password" id="password" name="password" minlength="8" maxlength="12"><br><br>
        </div>
        <div class="item">
            <label id="label" for="password">Confirm</label>
            <input class="input-field" type="password" id="password" name="password" minlength="8" maxlength="12"><br><br>
        </div>
        <label class="agree" id="label" for="agree">Agree</label>
        <input type="checkbox" id="agree" name="agree"><br><br>
        <button type="submit">Register</button>
    </div>
</body>
</html>