<!DOCTYPE html>
<html>
<head>
    <title>Library App</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'userpage.css'%}">
  </head>
  <body>
    <div >
      <ul>
     <li style="float:left"> <h1 href="#Library App">Library App</h1></li>
     <li style="float:right"> <h1 class="active" href="#Home" >Home</h1></li>
     <li style="float:right"> <h1 class="active" href="#About" >About</h1></li>
      </ul>
    </div>
    <div>
      <p>What are you logging in as?</p>
      <button class="student-button"><a href="/login">Student</a></button>
      <button class="librarian-button"><a href="/login">Librarian</a></button>
    </div>  
    
  </body>
</html>

